.wrapper {
  width: 100vw;
}
.categories_wrap {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.category {
  height: 16vw;
  width: calc((100% / 3) - 20px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.expanding_box {
  width: 10%;
  height: 10%;
  border: 12px solid rgba(238, 237, 233, 0.486);
  transition: 250ms;
  position: absolute;
}
.category h4 {
  padding: 10px 30px;
  background-color: wheat;
  z-index: 10;
}
.category:hover .expanding_box {
  width: 80%;
  height: 80%;
}
.cat_products_wrap {
  height: 620px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.cat_products_carousel {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat_poster {
  height: 100%;
  width: 27%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.cat_poster a {
  /* width: 120px; */
  position: relative;
  line-height: 30px;
}
.cat_poster a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.crousel_wrapper {
  width: 100%;
}
.cat_products_card {
  width: 19vw;
  height: 32vw;
  text-align: center;
}
.cat_products_carousel ul {
  display: flex;
  gap: 22px;
  width: fit-content;
  margin: 0px auto 50px auto;
  color: var(--fadecolor);
}
.cat_products_carousel ul > li {
  position: relative;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}
.category_list {
  color: var(--black);
  font-size: 20px;
}
.category_list::after {
  content: "";
  width: 100%;
  height: 2px;
  color: var(--black);
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cat_products_card > p {
  font-size: 10px;
  color: var(--fadecolor);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}
.cat_products_card > a > h5 {
  font-size: 18px;
  color: #252525;
  font-family: var(--fontlight);
  font-weight: 400;
  line-height: 1.5;
}
.cat_products_card > span {
  color: var(--hovercolor);
  font-size: 20px;
  font-weight: 700;
}
.cat_products_card > del {
  font-size: 14px;
  font-weight: 400;
  color: var(--fadecolor);
}
.cat_products_card_img {
  width: 100%;
  height: 73%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.card_img_top_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.sale_tag {
  padding: 5px 10px;
  background-color: #76bc42;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-family: var(--fontlight);
}
.card_img_top_wrap span {
  margin-left: auto;
  font-size: 22px;
  height: 22px;
  margin-right: 15px;
  transition: 250ms;
  translate: 0 -35px;
}
.card_img_bottom_wrap {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 auto;
  translate: 0 55px;
  transition: 250ms;
}

.addcart_btn,
.card_img_bottom_wrap > span {
  padding: 18px 10px;
  background-color: var(--hovercolor);
  font-size: 15px;
}
.card_img_bottom_wrap > div {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.card_img_bottom_wrap > span {
  background-color: white;
}
.cat_products_card:hover .card_img_bottom_wrap,
.cat_products_card:hover .card_img_top_wrap span {
  translate: 0 0;
}
@media only screen and (max-width: 1080px) {
  .categories_wrap {
    flex-direction: column;
  }
  .category {
    margin-top: 15px;
    width: 100%;
    height: 40vw;
  }
  .cat_products_wrap{
    flex-direction: column;
    height: auto;
  }
  .cat_products_wrap{
    height: auto;
  }
  .cat_poster{
    width: 100%;
    height: 50vh;
  }
  .cat_products_carousel{
    width: 100%;
    margin-top: 15px;
    height: 50vh;
  }
 
  .cat_products_card{
    width: 100%;
    height: 40vh;
    
  }
}
