.deal_item_images {
  display: flex;
  background-image: url("../../assets/images/time-bg.jpg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 80px;
  margin-top: 80px;
}
.deals_discriptions {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deals_discriptions h3{
  text-align: center;
}
.deals_discriptions h4 {
  font-size: 24px;
  color: var(--hovercolor);
}
.deals_discriptions p {
  padding: 20px 0;
  text-align: center;
}
.deals_discriptions h4 > span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fontlight);
  color: #636363;
}

.time_wrapper {
  width: 85%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.time {
  font-size: 36px;
  font-family: var(--fontbold);
  color: var(--hovercolor);
  padding: 8px 12px;
  background-color: white;
  height: fit-content;
  font-weight: 600;
}
.time h5 {
  color: var(--fadecolor);
  font-size: 16px;
  font-family: var(--fontlight);
  text-transform: uppercase;
}
.shopnowbtn {
  padding: 15px 30px;
  background-color: var(--hovercolor);
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.cat_products_wrap_reverse{
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1080px) {
  .cat_products_wrap_reverse{
    flex-direction: column;
  }
  .deal_item_images {
    height: auto;
    padding: 80px 40px;
  }
  .deals_discriptions {
    width: 100%;
  }
  .time_wrapper{
   justify-content: center;
   gap: 20px;
  }
}
@media only screen and (max-width:569px){
  .time_wrapper{
    gap: 10px;
   }
   .time{
    font-size: 24px;
   }
   .time h5{
    font-size: 12px;
   }
}
