/* @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;500;600&display=swap"); */
@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Muli-Light";
  src: url("./assets/fonts/Muli-Light.ttf") format("truetype");
  font-weight: 600;
}
body {
  margin: 0;
  font-family: "Muli";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hovercolor: #e7ab3c;
  --black: #252525;
  --pfontcolor: #636363;
  --fadecolor: #b2b2b2;
  --fontlight: "Muli-Light";
  --fontbold: "Muli";
}

h1 {
  font-size: clamp(40px, 6vw, 72px);
  font-weight: 600;
}
h4 {
  font-size: 26px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--pfontcolor);
  font-family: "Muli-light";
}
ul {
  list-style-type: none;
  font-family: var(--fontlight);
}
a {
  text-decoration: none;
  color: white;
}
button {
  border: none;
}
.container {
  width: 1150px;
  margin: 0 auto;
}
.container_fluid {
  width: calc(100vw - 120px);
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 690px;
  }
}
@media only screen and (max-width: 769px) {
  .container {
    width: 80%;
  }
}
